{{- $section1 := .Site.Params.section1plans }}
{{- $title    := index $section1 "title" }}
{{- $subtitle := index $section1 "subtitle" }}
{{- $tiles    := index $section1 "tiles" }}
{{- $text     := index $section1 "text" }}
{{- $anchor   := index $section1 "anchor" }}
{{- $subtext   := index $section1 "subtext" }}
<a name="{{ $anchor }}"></a>
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="has-text-centered">
    <h2 class="subtitle is-4">{{ $text }}</h2>
    </div>
    <div class="content-wrapper">
      <div class="columns">
        {{- range $tiles }}
        <div class="column is-one-fourth" >
          <div class="plan-card is-bordered raised has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title2 }}</h4>
            </div>
            <div class="card-icon">
                <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
            </div>
            <div class="card-text">
                <p>{{ .text }}</p>
            </div>
            <div class="card-price">
              <p>{{ .price }}</p>
            </div>
            {{- if .price2 }}
            <div class="card-price2">
              <p>{{ .price2 }}</p>
            </div>
            {{- end }}
            <div class="card-header">
              <p>{{ .header }}</p>
            </div>
            {{- range .texts }}
              <div class="card-text-details">
                  <p><svg class="svg-inline--fa fa-check fa-w-16 text-primary mr-1" aria-hidden="true" focusable="false" data-prefix="far" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z"></path></svg> {{ .text }}</p>
              </div>
            {{- end }}
            {{- if .buttonText }}
            <div class="card-plan-action">
              <a href="{{ .Permalink }}" class="button accent-btn raised">{{ .buttonText }}</a>
            </div>
            {{- end }}
          </div>
        </div>
        {{- end }}
      </div>
    </div>
    <div class="has-text-centered">
        <h2 class="subtitle is-4" style="color:#F39200">{{ $subtext }}</h2>
    </div>
  </div>
</section>