{{- $section1 := .Site.Params.section1registry }}
{{- $title    := index $section1 "title" }}
{{- $subtitle := index $section1 "subtitle" }}
{{- $tiles    := index $section1 "tiles" }}
{{- $text     := index $section1 "text" }}
{{- $anchor   := index $section1 "anchor" }}
{{- $subtext   := index $section1 "subtext" }}
<a name="{{ $anchor }}"></a>
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="has-text-centered">
    <h2 class="subtitle is-4">{{ $text }}</h2>
    </div>
    <div class="content-wrapper">
      <div class="columns">
        {{- range $tiles }}
        <div class="column is-one-fourth">
          <div class="cons-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title2 }}</h4>
            </div>
            <div class="card-icon">
                <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
            </div>
            <div class="card-text">
                <p>{{ .text }}</p>
            </div>
            {{- if .buttonText }}
            <div class="card-cons-action">
              <a href="{{ .Permalink }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
            </div>
            {{- end }}
          </div>
        </div>
        {{- end }}
      </div>
    </div>
    <div class="has-text-centered">
        <h2 class="subtitle is-4" style="color:#F39200">{{ $subtext }}</h2>
    </div>
  </div>
</section>