  <section class="sidebar-module">
    <h4>{{ i18n "recentPosts" }}</h4>
    <ol class="list-unstyled recent-posts">
{{ $num_recent_posts := (index .Site.Params.blog.sidebar "num_recent_posts" | default 5) }}

{{ range first $num_recent_posts (where .Site.RegularPages "Section" "eq" "blog") }}
<li><a href="{{.RelPermalink}}">{{.Title | markdownify }}</a></li>
{{ end }}
    </ol>
  </section>
