<aside class="col-sm-3 ml-auto blog-sidebar">
  {{ if and (.Site.Params.blog.sidebar) (isset .Site.Params.blog.sidebar "about") }}
  <section class="sidebar-module sidebar-module-inset">
    <h4>{{ i18n "about" }}</h4>
    <p dir="auto">{{ .Site.Params.blog.sidebar.about | markdownify }}</p>
  </section>
  {{ end }}


  {{ if .Site.Params.blog.sidebar }}
      {{ partialCached "blog/recent.html" .}}
  {{ end }}

  {{ with .Site.Menus.sidebar }}
  <section class="sidebar-module">
    <h4>{{ i18n "links" }}</h4>
    <ol class="list-unstyled">
      {{ range . }}
      <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ol>
  </section>
  {{ end }}
</aside><!-- /.blog-sidebar -->

{{- /* vim: set ts=2 sw=2 et: */}}
