<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}</h1>
        <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
        <div class="divider"></div>
      </div>
    </div>
    {{ .Content }}
  </div>
  <br/>
  {{ if .Params.button }}
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <a href="{{ .Params.button_link }}" class="button btn-align-md accent-btn raised">{{  .Params.button  }}</a>
      </div>
    </div>
  </div>
  {{ end }}
</section>
