
/*
 * Blog name and description
 */

 .blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}
article img {
  max-width: 100%;
  height: auto;
  margin: 13px auto;
}
// add margin to sharing icons (except the first one)
.sharing-icons .nav-item+.nav-item {
  margin-left: 1rem;
}
/* add a margin above the disqus comments only if the preceeding sharing section
is present (because sharing can be hidden, and the margin isn't always needed */
section + #disqus_thread {
  margin-top: 1rem;
}

// style all blockquotes, not just Bootstrap's default of class="blockquote"
// see: node_modules/bootstrap/scss/_type.scss
// article blockquote {
//   margin-bottom: 1em;
//   margin-left: 0.5em;
//   font-size: 1em !important;
//   border-left: 5px solid #ccc;
// }

article blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 1em !important;
  font-style: italic;
}
article blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

// ensure that code text doesn't butt up against the background change
article div.highlight {
  padding: 5px 5px 0px 5px;
}

/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.navbar-brand {
  display: flex !important;
  align-items: stretch;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0 !important;
}
.navbar .container {
  align-items: stretch !important;
}

@media (max-width: $desktop - 1px) {
  .navbar .container {
    display: block !important;
  }
}

.recent-posts li:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-top: 20px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.blog-post ul {
  list-style: disc;
}

.blog-post ol {
  margin-left: 2em;
}