.step-card {
    width: 300px;
    height: 380px;
    background-color: #fff;
    border-radius: 3px;
    margin: 0 auto;
    .card-title h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        color: $blue-grey;
    }
    .card-title h1 {
        // font-family: 'Open Sans', sans-serif;
        font-size: 3.8rem;
        font-weight: bolder;
        color: $accent;
    }
    .card-text {
        padding: 0 40px;
        p {
            color: $muted-grey;
        }
    }
    &.is-bordered {
        border: 1px solid $fade-grey;
    }
}