{{ define "main" }}
    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    {{ if .Site.Params.sectionhowitworks }}
    {{ partial "section1-howitworks.html" . }}
    {{ end }}

    {{ if .Site.Params.sectionfeatures }}
    {{ partial "section1-features.html" . }}
    {{ end }}

    {{ if .Site.Params.section1apps }}
    {{ partial "section1-apps.html" . }}
    {{ end }}

    {{ if .Site.Params.section1registry }}
    {{ partial "section1-registry.html" . }}
    {{ end }}

    {{ if .Site.Params.section1plans }}
    {{ partial "section1-plans.html" . }}
    {{ end }}
    
    {{ if .Site.Params.section5 }}
    {{ partial "section5.html" . }}
    {{ end }}

    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar.enabled }}
    {{ partial "sidebar.html" . }}
    {{ end }}
    
{{ end }}