/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
// Blocks
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1
  padding: 0
h2,
  padding: 0
h4
  padding: 1em 1em 1em 1em
h5,
h6
  padding: 0
h3
  padding: 0

ul
  padding: 0 1.5em
  list-style: decimal

// Form
button,
input,
select,
textarea
  margin: 0

// Box sizing
html
  box-sizing: border-box

*
  &,
  &::before,
  &::after
    box-sizing: inherit

// Media
img,
audio,
video
  height: auto
  max-width: 100%

// Iframe
iframe
  border: 0

// Table
table
  border-collapse: collapse
  border-spacing: 0

table, th, td
  border: 1px solid grey;

td,
th
  padding: 10px
  max-width: 450px
  text-align: left

.card-plan-action
  padding-top: 20px

h4
  padding: 0px